/**
 * Based on http://dbwebb.se/coachen/en-navbar-med-drop-down-meny-i-ren-html-och-css
 * Changed to only style li-items instead of a.
 */
#navbar {
  //width: 100%;
}
 
.navbar ul {
  list-style: none; 
  background-color: #eee;
  margin: 0; 
  padding: 0;
  box-shadow: 0 1px 1px #999;
}
 
.navbar li {
  display: inline-block;
  border-top: 4px solid transparent; 
  color: #333; 
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
 
.navbar a {
  display: block;
  width: 100%;
  padding: 1em;
  text-decoration: none;
  color: inherit;
  white-space: nowrap; 
}

.navbar li:hover {
  color: #666; 
  border-color: #666;
  background-color: @navbarHover;
} 

.navbar li.selected-parent, 
.navbar li.is-parent, 
.navbar li.selected {
  color: @navbarSelected; 
  border-color: @navbarSelected;
}

.navbar ul ul {
  background-color: #eee; 
  padding: 8px; 
  position: absolute; 
  left: -9999px; 
  z-index: 2;
}
 
.navbar li li {
  border-top: none;  
  border-left: 4px solid transparent;  
}

.navbar li:hover ul {
  left: 0;
}
 
.navbar li li:hover {
  color: #666; 
  border-color: #666;
}

.navbar li li.selected {
  color: @navbarSelected; 
  border-color: @navbarSelected;
}

/* Just to sho off how class works */
.navbar li .italic {
  font-style: italic;
}